body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #4B0082;
    color: white;
    padding: 40px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header h1 {
    margin: 0;
    font-size: 60px;
}

.flags img {
    height: 24px;
    margin-left: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: #FFFFFF;
}

.container h2 {
    font-size: 24px;
    color: #4B0082;
    margin-bottom: 20px;
}

.class-selection-box {
    background-color: #3D0075;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.class-selection-box h3 {
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}

.class-selection-box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.class-selection-box li {
    margin: 50px 0;
}

.class-selection-box a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.class-selection-box a:hover {
    text-decoration: underline;
}
